button {
  outline: none;
  border: none;
  text-decoration: none;
}

.main {
  width: 96%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 40px;
}

.main-basket {
  width: 78%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5 ;
}

.basket-navigation {
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #D9D9D9;
  align-items: center;
  margin-bottom: 15px;
}

.nav-element {
  display: flex;
}

.nav-element:nth-child(1) {
  width: 70%;
}

.nav-element {
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

.items-count {
  background-color: #B2AAAA;
  padding: 0 11px;
  line-height: 1.8rem;
}

.pages-count {
  display: flex;
  flex-direction: row;
}

.arrow {
  width: 17px;
  height: 24px;
  margin-right: 5px;
  margin-left: 5px;
}

.arrow-left,
.count-less {
  background-image: url('../../assets/svg/arrow-left.svg');
}

.arrow-right,
.count-more {
  background-image: url('../../assets/svg/arrow-right.svg');
}

.arrow:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.item-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.basket-item {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 99%;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin: 0 auto;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.item-title {
  color: #2264D1;
}

.item-number {
  width: 25px;
  height: 25px;
  background-color: #F44336;
  border-radius: 50%;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.item-image {
  width: 10%;
  height: 100px;
  object-fit: contain;
}

.item-description {
  width: 30%;
  text-align: center;
}

.item-about {
  font-size: 1rem;
  overflow: hidden;
}

.item-info {
  width: 13%;
}

.item-info:last-child {
  margin-right: 30px;
  width: 8%;
}

.item-count {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
}

.item-price {
  text-align: center;
}

.summary {
  width: 20%;
  height: 50vh;
  background-color: #D9D9D9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 600;
}

.summary p {
  height: 10%;
  padding: 0;
  margin: 0 0 7px 0;
}

.summary-title {
  background-color: #BAB7B7;
  height: 30px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 1.5rem;
}

.summary-total {
  margin-bottom: 14px;
}

.form {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.promocode {
  width: 219px;
  height: 30px;
  margin-bottom: 7px;
  outline: none;
  border-style: none;
}

.promocode::placeholder {
  text-align: center;
}

.promo-helper {
  font-size: 1rem;
  text-align: center;
  color: #FC1414;
}

.buy-button {
  width: 140px;
  height: 25px;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  background-color: #FF7474;
  cursor: pointer;
  color: #2264D1;
  text-align: center;
}

.buy-button:hover {
  cursor: pointer;
  filter: drop-shadow(0px 3px 4px rgb(163, 27, 34));
  font-weight: 600;
}

.non-active {
  cursor: default;
  pointer-events: none;        
  text-decoration: none;
}
