.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  position: absolute;
  background-color: #d9d9d9;
  height: 88px;
  margin: 0 auto;
  width: 100%;
  z-index: 5;
  border-radius: 0 0 20px 20px;
  display: flex;
  margin-bottom: 33px;
}

.header-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
  width: 150px;
  height: 40px;
  background-image: url('../../assets/svg/logo.svg');
}

.cart-total {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2rem;
}

.total {
  color: #2264D1;
}

.sum {
  color: #000000;
}

.button {
  border-radius: 4px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 3px rgba(27, 78, 163, 0.2));
}

.basket {
  max-width: 150px;
  max-height: 40px;
}

.my-cart {
  color: #2264D1;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 7px 8px 7px 8px;
}

.count {
  width: 35px;
  height: 35px;
  line-height: 2.2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  background: #F44336;
  margin-right: 5px;
}

/*Footer */
.footer {
  position: absolute;
  bottom: 0;
  background-color: #d9d9d9;
  height: 88px;
  margin: 0 auto;
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: flex;
}

.footer-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.year,
.github {
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
}

.social {
  color: #000000;
}

.rs-logo {
  cursor: pointer;
  width: 120px;
  height: 44px;
  background-image: url('../../assets/svg/rs-logo.svg');
}

/*Main*/
.main {
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.filters {
  width: 16.4%;
  background-color: #ececec;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

.buttons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.btn-copy-link,
.btn-reset {
  max-width: 120px;
  max-height: 25px;
}

.filter-category,
.filter-price,
.filter-brand,
.filter-stock {
  width: 90%;
  background-color: #D9D9D9;
  border-radius: 4px;
}

.title-filter {
  width: 100%;
  background-color: #BAB7B7;
  color: #000000;
  text-align: center;
}

.catalog {
  width: 82.7%;
  background-color: #D9D9D9;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.catalog-navigation {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}





