.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  position: absolute;
  background-color: #d9d9d9;
  height: 88px;
  margin: 0 auto;
  width: 100%;
  z-index: 5;
  border-radius: 0 0 20px 20px;
  display: flex;
}

.header-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
}

.cart-total {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2rem;
}

.total {
  color: #2264D1;
}

.sum {
  color: #000000;
}

.basket {
  max-width: 150px;
  max-height: 40px;
  border-radius: 4px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  border-radius: 4px;
  filter: drop-shadow(0px 3px rgba(27, 78, 163, 0.2));
}

.my-cart {
  color: #2264D1;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 7px 8px 7px 8px;
}

.count {
  width: 35px;
  height: 35px;
  line-height: 2.2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  background: #F44336;
  margin-right: 5px;
}



